@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-main-bg: var(--main-bg);
  --color-main-text: var(--main-text);
  --color-secondary-text: var(--secondary-text);
  --color-action-btn: var(--action-btn);
  --color-disabled-btn-bg: var(--disabled-btn-bg);
  --color-disabled-btn: var(--disabled-btn-color);
  --color-input-icon: var(--input-icon);
  --color-active-sidebar-bg: var(--active-sidebar-bg);
  --color-main-border: var(--main-border);
  --color-avatar-bg: var(--avatar-bg);
  --color-hover-action-create-btn: var(--hover-action-create-btn);
  --color-hover-action-submit-btn: rgb(138, 33, 34);
  --color-select-checked: rgba(198, 48, 49, 0.08);
  --color-background: var(--main-bg);
  --color-foreground: var(--main-text);
  --color-action-menu-bg: var(--action-menu-bg);
  --color-border: var(--main-border);
  --color-input: var(--main-border);
  --color-modal-cancel-btn: rgba(118, 118, 118, 0.04);

  --color-primary: rgba(198, 48, 49, 1);
  --color-primary-foreground: rgba(255, 255, 255, 1);

  --shadow-btn:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-action-menu:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --shadow-sm: none;
  --shadow: none;
  --shadow-md: none;
  --shadow-lg: none;
  --shadow-inner: none;
  --color-destructive: rgb(198, 48, 49);
  --ring-width: 0px;
  --ring-offset-width: 0px;
  --color-ring: transparent;

  --radius-lg: 0px;
  --radius-md: 0px;
  --radius-sm: 0px;

  --font-sans: var(--font-roboto);
}

:root {
  --main-bg: rgba(245, 245, 247, 1);
  --main-text: rgba(46, 46, 46, 1);
  --secondary-text: rgba(0, 0, 0, 0.6);
  --action-btn: rgba(0, 0, 0, 0.54);
  --disabled-btn-bg: rgba(0, 0, 0, 0.12);
  --disabled-btn-color: rgba(0, 0, 0, 0.26);
  --hover-action-create-btn: rgba(198, 48, 49, 0.04);
  --action-menu-bg: rgba(255, 255, 255, 1);
  --input-icon: rgba(0, 0, 0, 0.54);
  --active-sidebar-bg: rgba(0, 0, 0, 0.04);
  --main-border: rgba(0, 0, 0, 0.23);
  --avatar-bg: rgba(189, 189, 189, 1);
}

.dark {
  --main-bg: rgba(53, 53, 53, 1);
  --main-text: rgba(255, 255, 255, 1);

  --secondary-text: rgba(255, 255, 255, 0.7);
  --action-btn: rgba(255, 255, 255, 1);
  --disabled-btn-bg: rgba(255, 255, 255, 0.12);
  --disabled-btn-color: rgba(255, 255, 255, 0.3);
  --hover-action-create-btn: rgba(198, 48, 49, 0.08);
  --action-menu-bg: rgba(47, 47, 47, 1);
  --input-icon: rgba(255, 255, 255, 1);

  --active-sidebar-bg: rgba(255, 255, 255, 0.08);

  --main-border: rgba(255, 255, 255, 0.23);

  --avatar-bg: rgba(117, 117, 117, 1);
}

html {
  font-family: var(--font-roboto), sans-serif;
}

body {
  background-color: var(--main-bg);
  color: var(--main-text);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-border);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-text);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: var(--main-text) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--main-bg) inset !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
