@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-main-bg: var(--main-bg);
  --color-main-text: var(--main-text);
  --color-secondary-text: var(--secondary-text);
  --color-main-red: var(--main-red);
  --color-main-border: var(--main-border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-destructive: var(--destructive);
  --shadow-sm: none;
  --shadow: none;
  --shadow-md: none;
  --shadow-lg: none;
  --shadow-inner: none;

  --ring-width: 0px;
  --ring-offset-width: 0px;
  --color-ring: transparent;

  --radius-lg: 0px;
  --radius-md: 0px;
  --radius-sm: 0px;

  --font-sans: var(--font-roboto);
}

:root {
  --main-bg: rgba(245, 245, 247, 1);
  --main-text: rgba(46, 46, 46, 1);
  --main-border: rgba(0, 0, 0, 0.23);
  --secondary-text: rgba(0, 0, 0, 0.6);
  --main-red: rgba(198, 48, 49, 1);

  --background: var(--main-bg);
  --foreground: var(--main-text);
  --muted-foreground: var(--secondary-text);

  --border: var(--main-border);
  --input: var(--main-border);

  --primary: var(--main-red);
  --primary-foreground: #ffffff;

  --destructive: var(--main-red);
  --destructive-foreground: #ffffff;
}

@layer base {
  html {
    font-family: var(--font-roboto), sans-serif;
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.4) transparent;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: var(--main-text) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--main-bg) inset !important;
  }
}
